[2020-02-07 21:25] PaulRBerg opened #1 "Missing README"
A good CLI tool should have a proper README file, serving as the de-facto documentation.

[Here's how create-react-app does it](https://github.com/facebook/create-react-app).

[2020-02-07 21:27] PaulRBerg opened #2 "Implement the base functionality"
This repository as of now is a glorified fork of [create-next-app](https://github.com/zeit/create-next-app). We should modify their source code and replace it with whatever it's needed for create-eth-app.

[2020-02-07 21:38] PaulRBerg opened #3 "Decide on whether this should be a monorepo or not"
I made this a monorepo, because I thought that we will need a copy of the contracts deployed to the [subgraph](https://thegraph.com/explorer/subgraph/paulrberg/create-eth-app). However, as per https://github.com/PaulRBerg/create-eth-app-source/issues/2, we decided to move that into the end-user source code.

Should we maintain this repo as a monorepo or not?

[2020-02-11 00:06] #3 closed, assigned to nobody

[2020-02-11 00:14] PaulRBerg opened #4 "Figure out what commands we want to keep from create-next-app"
We should probably just stick with the defaults and launch CEA asap, but if there's any command that makes no sense at all, we should nuke it out from orbit.

[2020-02-11 00:17] PaulRBerg opened #5 "Check that yarn workspaces are activated"
Before yarn 1.0, the workspaces feature was not activated by default. Users had to manually activate it by running this:

[code]

Therefore, before claiming that the create-eth-app install script succeeded, we should verify that this config is set to true.

[2020-02-11 00:18] PaulRBerg opened #6 "Print a hello message"
When the install scripts executed successfully, we should welcome the user in a cheerful way.

Maybe "Hello from Create Eth App! Run `yarn react-app:start` to start development".

We should consider using emojis.

[2020-02-13 20:34] #6 closed, assigned to PaulRBerg

[2020-02-13 20:36] #5 closed, assigned to PaulRBerg

[2020-02-13 20:39] #4 closed, assigned to PaulRBerg, kadenzipfel

[2020-02-13 20:42] #2 closed, assigned to PaulRBerg

[2020-02-13 21:10] PaulRBerg opened #7 "Use a CHANGELOG"
It's nice for open-source tools to have a detailed CHANGELOG to track progress over time.

[2020-02-14 23:19] PaulRBerg opened #8 "Record a nicer terminal presentation"
The current GIF has been recorded with Quicktime and it doesn't have a proper level of awesomeness. We should use [terminalizer](https://github.com/faressoft/terminalizer) to record a smoother version, just like [create-react-app did](https://camo.githubusercontent.com/e4f2feecb8bc0d58c1f2e31f97b2856a04b50ef3/68747470733a2f2f63646e2e6a7364656c6976722e6e65742f67682f66616365626f6f6b2f6372656174652d7

[2020-02-15 13:26] jeffscottward opened #9 "Add Tailwind for Developer Ergonomics"
Tailwind is a utility first framework that allows you to stop writing custom css and rules and classnames.

Think bootstrap or material but without the prescriptive design implementation. Just a modular shorthand syntax for common css rules.

An argument could be made to not add this as it’s certainly not ubiquitous like typescript yet, but everyone (including dev thought leaders on twitter) that

[2020-03-10 21:12] parweb opened #12 "Error while yarn create eth-app my-eth-app"
**Bug Description**
error An unexpected error occurred: "https://registry.yarnpkg.com/mdncomp/-/mdncomp-1.13.1-alpha.tgz: Request failed \"404 Not Found\"".

**Steps to Reproduce**

1. yarn create eth-app my-eth-app

**Expected Behavior**
folder created

**Additional Context**
node -v : v10.16.0
yarn -v: 1.21.1

[2020-03-10 23:46] PaulRBerg commented on #12
I tried running your exact command and it worked fine on my machine. If it's not too much to ask, could you post an update with the full console output and details about your OS (name + version)? Thanks so much!

[2020-03-11 01:44] dAAAb opened #13 "node version problem?"
**Bug Description**
Got an error:

[code]
**Steps to Reproduce**

Just run the command

**Additional Context**
MacBook, macOS 10.15.3

[2020-03-11 10:58] johnsBeharry commented on #9
My two cents is core remains minimal and this can be added as a custom template (or script).

[code]

[2020-03-11 11:09] johnsBeharry commented on #7
If the repo maintains the use of Conventional Commit messages then a change log can be autogenerated with https://github.com/conventional-changelog/conventional-changelog

Some manual amendments up might sometimes be necessary, but who ever is doing releases can revise during QA before tagging the new version.

(ps. there's not so many of us - it makes my heart tingle to someone else using this co

[2020-03-11 13:32] PaulRBerg commented on #7
Hah, thanks @johnsBeharry, I love the Conventional Commit standard! I've been using it consistently for over a year now, but I was somehow not aware of the conventional changelog generator. Thanks for the tip.

[2020-03-11 13:34] PaulRBerg commented on #13
Hey Ju! Yes so Create Eth App requires either node v8, v10 or v11. Can you try running this command in your terminal?

[code]

And post the terminal output here?

[2020-03-11 13:34] PaulRBerg commented on #1
Whoah, just seen this is still open. Should've been closed a long time ago!

[2020-03-11 13:34] #1 closed

[2020-03-11 14:31] dAAAb commented on #13
Hi Paul,
My node version is v11.0.0 (check attachment).
Will it because when I first time run the command, I face two problem, and I followed the instruction to run these two solution in below.
`curl --compressed -o- -L https://yarnpkg.com/install.sh | bash`
and
`yarn config set workspaces-experimental true`
After that, it can pass all 4 on building steps, but got error in the end.

<img width="86

[2020-03-11 20:19] parweb commented on #12
[yarn-error.log](https://github.com/PaulRBerg/create-eth-app/files/4320687/yarn-error.log)

[2020-03-12 21:00] PaulRBerg commented on #12
I investigated the error for you but I could not find a clear solution. There  is [this answer on Stack Overflow](https://stackoverflow.com/a/49371861/3873510) though, which might prove to be helpful:

[code]

Could you check whether this works?

[2020-03-12 21:07] PaulRBerg commented on #13
Yes so this is the issue. Because Create Eth App depends on `eslint@6.8.0`, you need at least `node v11.10.1`. I recommend installing Node via the [Node Version Manager](https://github.com/nvm-sh/nvm), so that you can easily switch between versions.

[2020-03-12 21:14] parweb commented on #12
yarn config set registry https://registry.npmjs.org didn't work as expected

but this did
npx create-eth-app --template compound my-eth-app

[2020-03-12 21:22] PaulRBerg commented on #12
So npx worked? That's really weird.

[2020-03-12 21:24] parweb commented on #12
couples weeks ago i try yarn 2 maybe I did something wrong with my yarn config

[2020-03-12 21:32] PaulRBerg commented on #12
I will close this issue for now, but feel free to open it again if you can pinpoint the exact issue you're dealing with. Thanks for checking out Create Eth App!

[2020-03-12 21:32] #12 closed, assigned to nobody

[2020-03-17 20:46] proofoftom opened #15 "Add support for other frontend frameworks (specifically Vue)"
**Is your feature request related to a problem? Please describe.**
There's a ton of benefit to having predefined templates with respective ABIs but I'd like to develop my frontend with frameworks other than React, specifically Vue.

**Describe the solution you'd like**
When running `create-eth-app` one should have the ability to choose their frontend framework (perhaps by a `--framework` flag) whi

[2020-03-17 21:32] PaulRBerg commented on #15
This would indeed be cool! A similar idea has been proposed with #9.

I would keep all of them as templates though, even if the frontend framework is different. The hard thing in implementing this is figuring out how to reuse the ABIs and the addresses in the source code, so that the same blobs of code can be reused throughout multiple templates. That is, only one "compound" folder should be kept

[2020-03-19 20:36] proofoftom commented on #15
Glad you're already thinking about this!

To start, would it make sense to add the `vue-app` next to `react-app` in each template's folder? Then down the road I'm thinking the frontend framework specific components could be abstracted from the app implementations and kept in the template folder and are imported in the app based upon which template/framework you choose (maybe initially this is just

[2020-03-19 20:42] proofoftom commented on #15
As a side note, with the additional optionality being added such as templates and frameworks, it'd probably make sense to utilize [inquirer](https://www.npmjs.com/package/inquirer) for a better choice making UX.

[2020-03-21 13:16] PaulRBerg commented on #15
This would be the most straightforward way, although I guess it may confuse some users to have two frontend frameworks in the default template.

Yes! I reckon [handlebars](https://handlebarsjs.com/) could help here. See [sablier-subgraph](https://github.com/sablierhq/sablier-subgraph) for how we made good use of handlebars to avoid keeping network-specific yaml files into version control.

I'm alr

[2020-03-31 11:44] snaketh4x0r opened #17 "workspaces error on windows"
**Bug Description**

Trying to install create-eth-app on Windows [Version 10.0.18362.720]
workspaces are set default since yarn 1.0.0
still the error occured so tried recommended command and tried to install again

-yarn config set workspaces-experimental true

still error occurs

following error

[code]

**Steps to Reproduce**

1. using shorthand yarn create eth-app my-eth-app

**Expected Behavio

[2020-04-12 04:06] gorgos commented on #17
https://github.com/PaulRBerg/create-eth-app/blob/7a72fe20a016de8a1672c81ba277ae1cca4daf28/src/helpers/yarn.ts#L18

On Windows this should be `\r\n` https://nodejs.org/api/os.html#os_os_eol:

[code]

but the command ends for me with only `\n` as well on Windows.

Temporary fix:

1. `yarn add global create-eth-app`
2. Comment out the `process.exit` inside `shouldUseYarnWorkspaces` at the file `C:/Us

[2020-04-22 15:24] rnbrady commented on #17
There are two issues here then:

1. The check for the flag should only be applied for yarn < 1.0.0
2. The check fails on Windows (due to a mismatch between actual and expected newline formats).

[2020-05-08 18:17] #17 closed, assigned to nobody

[2020-05-08 19:16] #8 closed, assigned to nobody

[2020-05-08 19:17] PaulRBerg commented on #13
I'll close this issue for now, but if it does happen again, feel free to reopen it, @dAAAb!

[2020-05-08 19:17] #13 closed, assigned to nobody

[2020-05-08 20:53] PaulRBerg opened #21 "Build error: Compilation.modules was changed from Array to Set"
Here's the full output after running `yarn run build`:

[code]

[2020-05-08 21:58] PaulRBerg opened #22 "Get rid of the installation warnings"
It's not a nice user experience to see all these warnings while spinning up a new project with create-eth-app:

<img width="1033" alt="Capture d’écran 2020-05-09 à 00 57 23" src="https://user-images.githubusercontent.com/8782666/81452662-1e6d0200-9190-11ea-886d-40c8d8364277.png">

[2020-05-24 16:00] PaulRBerg opened #25 "Feature request: include web3-react in default template"
Requested by [Prodoggy](https://www.reddit.com/r/ethereum/comments/f41r8d/announcing_create_eth_app_create_ethereumpowered/frm93e7?utm_source=share&utm_medium=web2x) on Reddit.

[2020-06-15 09:08] PaulRBerg opened #26 "Feature request: merge create-hq20-dapp"
Refer to this [Twitter discussion](https://twitter.com/obernardovieira/status/1267454433392242702) for context.

Conflicts:

+ The CEA templates use JavaScript, whereas HQ20 uses TypeScript
+ CEA focuses on UI only, whereas HQ20 also contains smart contracts

Nothing that can't be solved via a productive evening of refactoring though.

[2020-06-27 13:56] PaulRBerg opened #27 "Design a GitHub cover with a call-to-action"
Similar to [money-legos](https://github.com/studydefi/money-legos):

<img width="404" alt="Capture d’écran 2020-06-27 à 16 55 17" src="https://user-images.githubusercontent.com/8782666/85923852-2ba49400-b897-11ea-9fdf-4e383ab94618.png">

[2020-06-29 17:10] PaulRBerg commented on #7
Closing as a CHANGELOG file has been implemented since commit [b11fbc01de9a7447544600dfdf41f3347380988e](https://github.com/PaulRBerg/create-eth-app/commit/b11fbc01de9a7447544600dfdf41f3347380988e).

[2020-06-29 17:10] #7 closed

[2020-06-29 17:12] PaulRBerg commented on #15
Closing since this has been implemented in #23. Looking forward to add more UI frameworks as the community requests them.

[2020-06-29 17:12] #15 closed, assigned to nobody

[2020-06-29 17:20] PaulRBerg opened #28 "Include a wallet management framework like Web3 React"
@TomAFrench I think you said you'll be working on this as per the splitting of [Scaffold Eth](https://github.com/austintgriffith/scaffold-eth) into different packages.

Possible candidates:

+ [Web3 React](https://github.com/NoahZinsmeister/web3-react)
+ [Web3Modal](https://github.com/Web3Modal/web3modal) (Formerly Web3Connect)
+ [Blocknative's Onboard.js](https://github.com/blocknative/onboard)

[2020-06-29 17:23] PaulRBerg opened #29 "Write a FAQ page"
We should have a minimal FAQ Page, similar to [faq.sablier.finance](http://faq.sablier.finance/). This could also help with making the READMEs smaller and easier to maintain.

Lots of things could be included there: why yarn and not npm, how the subgraph works, how to deploy to IPFS or Vercel, etc.

[2020-06-29 17:38] PaulRBerg opened #30 "Optimise the templating system"
As explained [here](https://github.com/PaulRBerg/create-eth-app/pull/16#issuecomment-626248637), the problem with the current design of the templates in CEA is that the same code can be found in A LOT of places.

If you look at the `App.js` file of each template in the [templates/react](https://github.com/PaulRBerg/create-eth-app/tree/develop/templates/react) folder, you'll notice a symmetry. This

[2020-06-30 10:13] PaulRBerg opened #31 "Make the subgraph opt-in via a boolean flag"
A data server is not an ancillary component for many Ethereum apps, so we should reconsider whether including this in the default template makes sense.

We can keep this feature but make it opt-in via a boolean flag, i.e. `--subgraph`.

[2020-06-30 22:08] TomAFrench commented on #28
Having used Onboard.js I think that I'd recommend using web3React for this purpose. Onboard.js is very powerful but there's a fair amount of boilerplate which it needs wrapped around it. It's also doesn't take advantage of many react features like web3React (You can't access the web3 provider using a hook unless you manually wrap Onboard in a context).

I think for purposes of keeping the template

[2020-06-30 22:08] TomAFrench commented on #28
I think the mempool tracking feature comes from notifiy.js (also by blocknative) however.

[2020-07-01 07:48] PaulRBerg commented on #28
Very well!

Good point, but I wouldn't enforce hard-and-fast rules across different UI frameworks. Keeping no wallet management system in Vue, if there is no good alternative to web3-react, is okay. In general, I suspect Vue users have fewer libraries to choose from compared to React users.

[2020-07-05 21:11] PaulRBerg opened #33 "Smart contract development"
In its early days, I was somewhat adamant to keep Create Eth App a frontend-only development tool. However, with time, interesting use cases for smart contract development came to mind: flash loans, buidler setups, etc.

I'm still not convinced that it is worth it, particularly given the complexity it would bring, but I decided to open the GitHub issue to entertain the idea further.

[2020-07-05 21:11] PaulRBerg commented on #25
Closing in favour of #28.

[2020-07-05 21:11] #25 closed, assigned to PaulRBerg

[2020-07-17 11:18] PaulRBerg opened #36 "Add missing local dependency"
This is related to the HEAD commit on the [staging](https://github.com/PaulRBerg/create-eth-app/tree/staging) branch, not on [develop](https://github.com/PaulRBerg/create-eth-app/tree/develop).

The `@project-name/react-app` package depends on its corresponding `@project-name/contracts` package, but the latter is not listed in the former's "dependency" list.

[2020-07-17 12:25] TomAFrench opened #37 "create meaningful package names"
**Is your feature request related to a problem? Please describe.**

All of the generated packages are being given the rather generic names `@package/contracts` or `@package/react-app`.

In the case where someone is doing smart contract dev they may wish to publish packages of the solidity contracts or their artifacts for use by others. Having a meaningful package name pre-filled would be useful.

[2020-07-17 14:32] PaulRBerg commented on #37
Yeah, this is a nice-to-have.

[2020-07-17 15:33] PaulRBerg opened #38 "DRY-ify contract ABIs and addresses"
For each new DeFi template, the repo grows twice as much as in size because the ABIs and the addresses are duplicated across the UI frameworks.

We should build a template of templates of templates (not kidding), whereby the contract ABIs and the address are pulled out each template source files, and the logic code maps each template to its corresponding contracts (to be specific, the logic code i

[2020-07-19 20:13] PaulRBerg opened #39 "Update Compound template"
Since v1.1.0 of CEA has been originally published in February, Compound launched the [final phase](https://twitter.com/compoundfinance/status/1250815524251951105) of their protocol. This includes the new COMP token and other governance modules that are not currently part of CEA's Compound template.

[2020-07-19 20:34] #30 closed, assigned to nobody

[2020-07-19 20:34] #36 closed, assigned to PaulRBerg

[2020-07-21 20:42] PaulRBerg commented on #33
Received a [request](https://twitter.com/fubuloubu/status/1285648975283073024) for this:

[2020-07-22 00:07] TomAFrench opened #41 "Unnecessary dependencies in handlebars template"
https://github.com/PaulRBerg/create-eth-app/blob/c71f66d47c844e1182bf73d3d82979c33b36a6c1/handlebars/react/packages/react-app/package.json.hbs#L39

I've just spotted that we're installing typescript in all templates. This looks like it's just adding to the install time for no benefit as it isn't being used (although people should).

[2020-07-22 00:14] TomAFrench opened #42 "Consider including eslint config"
https://github.com/PaulRBerg/create-eth-app/blob/c71f66d47c844e1182bf73d3d82979c33b36a6c1/handlebars/react/packages/react-app/package.json.hbs#L33

On the topic of #41, shall we include a cookie cutter eslint config with each template? This shouldn't be over the top in terms of strictness but enough to hopefully form good habits (indentation, semicolons, etc).

Otherwise we should probably remove

[2020-07-22 09:24] PaulRBerg commented on #41
I added the `typescript` dependency to silence this warning:

But yeah, we may want to remove it, since it's a heavy dependency. AFAIK, Create React App doesn't install it either.

[2020-07-22 09:27] PaulRBerg commented on #42
Nah, this should be kept. It's a standard that's also implemented in Create React App.

There is already an eslint config, but not in file format. It's inside this package.json file:

https://github.com/PaulRBerg/create-eth-app/blob/develop/handlebars/react/packages/react-app/package.json.hbs#L41-L43

Whether you'd like to add more opinionated rules, that's a different issue. I'm not against it, b

[2020-07-22 12:54] TomAFrench commented on #42
Ah whoops, I missed that. I'll have a check of whats in the standard config.

[2020-07-22 21:06] TomAFrench commented on #41
Yeah, I think so. I think these kind of warnings are just par for the course when it comes to using yarn

[2020-07-24 01:13] TomAFrench opened #44 "Add 3Box template/meta-template"
Request from @nestorbonilla on KERNEL video call

[2020-07-24 08:31] PaulRBerg commented on #44
Sounds like a nice-to-have.

[2020-07-27 16:10] samajammin commented on #33
I've used `create-eth-app` in tandem with `buidler`. e.g. [here's an old demo dapp](https://github.com/jabezas/honeypot) of a `buidler` project on the top level of the repo, with a `create-eth-app` project within the /frontend/ directory.

My 2 Gwei: I think it would be a nice addition to provide a flag option when creating a new project.

[2020-07-28 07:21] PaulRBerg commented on #33
Thanks for your feedback, @samajammin! This helps a lot with deciding what are the best features to implement next.

In the interim, @austintgriffith made huge progress with [scaffold-eth](https://github.com/austintgriffith/scaffold-eth); a tool that generalises what your honeypot app does by assembling buidler and create-eth-app together.

[2020-07-30 21:20] #39 closed, assigned to nobody

[2020-07-30 21:20] #41 closed, assigned to nobody

[2020-08-05 11:18] PaulRBerg commented on #28
Just received a user request for this:

![image](https://user-images.githubusercontent.com/8782666/89406886-821eb100-d726-11ea-9060-5de05f70333a.png)

[2020-08-07 15:38] Ungolim opened #48 "Add Svelte support"

[2020-08-07 17:40] PaulRBerg commented on #48
Thanks for your request! We'll consider this.

[2020-08-09 17:44] PaulRBerg opened #49 "Upgrade uniswap sdk to v3"
As suggested by Moody Salem via Twitter:

<img src="https://user-images.githubusercontent.com/8782666/89738427-13708900-da81-11ea-8119-5e2e8b40ae09.png" width="400px" height="400px"/>

[2020-08-13 17:55] nazariyv opened #53 "how do you add dependencies to the react-app?"
My thought was cd to react app and just do `yarn add @material-ui/react`

But then when I start the front, it looks for that dependency in the root directory of the app

[2020-08-13 19:32] #53 closed, assigned to nobody

[2020-08-14 09:33] PaulRBerg commented on #53
Hey @nazariyv, yes, dependencies are added at the root of the directory, because Create Eth App uses [Yarn Workspaces](https://classic.yarnpkg.com/en/docs/workspaces/).

If you want to to keep one specific dependency in the "react-app" directory, you can do so with the [nohoist](https://classic.yarnpkg.com/blog/2018/02/15/nohoist/) feature.

[2020-08-15 11:21] PaulRBerg commented on #42
@TomAFrench shall we close this? I don't see much value in adding yet-another-file in the templates.

[2020-08-15 18:47] TomAFrench commented on #42
Yeah, I guess so. There's not a huge amount of point in setting up a full linting setup as the majority of users' IDEs won't be set up to enforce it sadly.

[2020-08-15 18:47] #42 closed, assigned to nobody

[2020-08-20 06:51] PaulRBerg commented on #49
Fixed in [v1.3.1](https://github.com/PaulRBerg/create-eth-app/tree/v1.3.1).

[2020-08-20 06:51] #49 closed, assigned to nobody

[2020-08-20 06:53] PaulRBerg opened #55 "Styled components bug: Warning: validateDOMNesting(...)"
Happens on [f95bcc](https://github.com/PaulRBerg/create-eth-app/tree/f95bcc1db0e2276436ad37a2c0b3edb0e5290eac):

<img width="498" alt="Screenshot 2020-08-20 at 09 50 11" src="https://user-images.githubusercontent.com/8782666/90726790-f763b780-e2ca-11ea-889a-a078c8e14efb.png">

[2020-08-20 06:59] PaulRBerg opened #56 "Set up CI/CD"
Testing is manual and laborious today. We can make it better!

I'm thinking of a couple shell scripts that execute on a CI server and runs the installation script for all possible frameworks and templates. E.g.

[code]

[2020-08-20 07:07] PaulRBerg opened #57 "Vue warn: invalid component name"
Happens on [f95bcc](https://github.com/PaulRBerg/create-eth-app/tree/f95bcc1db0e2276436ad37a2c0b3edb0e5290eac):

<img width="498" alt="Screenshot 2020-08-20 at 10 06 32" src="https://user-images.githubusercontent.com/8782666/90728115-00558880-e2cd-11ea-9ccc-ebcf4d4951ee.png">

[2020-08-20 12:50] webid commented on #57
`name: "EthereumApp",`

[2020-08-20 13:45] TomAFrench commented on #55
Happy to leave this until next release when I add in wallet management?

[2020-08-20 14:23] PaulRBerg commented on #55
Yeah, no rush.

[2020-08-21 15:33] #57 closed, assigned to nobody

[2020-08-21 19:16] PaulRBerg opened #60 "Update READMEs with latest features and folder structures"
The main README (and some sub-READMEs) contain folder structures for the final boilerplate that users receive.

@TomAFrench, you made a few changes lately, namely the graphql queries and the IPFS work, so we have to update the READMEs.

[2020-08-21 19:31] PaulRBerg opened #61 "Rename "dist" to "build" in Vue.js templates"
I noticed that #58 adds two files to the codebase that are almost the same except for one line where React uses "build" and Vue.js uses "dist".

I don't think there's any benefit in keeping different names for the build folder of the app.

[2020-09-01 21:13] PaulRBerg opened #64 "Use the `synthetix` module instead of hardcoded ABIs"
Justin (CTO of Synthetix):

<img width="1468" alt="Capture d’écran 2020-09-02 à 00 13 31" src="https://user-images.githubusercontent.com/8782666/91906610-273e9200-ecb1-11ea-89ed-62c47f986629.png">

[2020-09-03 00:01] PaulRBerg opened #66 "Implement web3modal in Vue.js templates"
If #63 gets merged, it will create a precedent for CEA accepting diverging templates across the UI frameworks. To the end user, the experience is not altered much, but this becomes a tracking nightmare for us - what features are in the React side of the codebase, what features aren't, and ditto for Vue.js.

We should either (1) strive to keep the templates as similar as possible across the UI fram

[2020-09-03 00:15] PaulRBerg opened #67 "Replace hardcoded INFURA_IO with environment variable"
WalletConnet currently crashes without a valid Infura id.

We should substitute the hardcoded Infura id with an environment variable and make Web3Modal not crash when the id is not set (ergo when booting a create-eth-app project).

[2020-09-03 00:35] TomAFrench commented on #67
I've replaced the current infura id with a dummy string which is enough to get around WalletConnect's check. We should add environment variable support for this however.

[2020-09-15 00:13] TomAFrench opened #70 "Strict versioning of templates downloaded to match npm package."
**Is your feature request related to a problem? Please describe.**

Currently all versions of CEA pull the top commit from the branch set in `constants.ts`. This leads to some issues in so far as if someone has installed create-eth-app globally rather than using `yarn create eth-app` the templates they install may not be compatible with the version of CEA they have. (This may not be the recommende

[2020-09-15 11:33] PaulRBerg commented on #70
Fantastic idea.

This is why we added a caveat in the README:

But you're right - as per [Hyrum's Law](https://www.hyrumslaw.com/), it's almost guaranteed for someone out there to misuse the API.

[2020-10-02 19:19] #9 closed, assigned to nobody

[2020-10-02 19:56] TomAFrench commented on #70
Related to this, we can think about exploring how IPFS can be used to stored these templates.

[2020-10-02 19:58] PaulRBerg commented on #9
Thanks for your request, @jeffscottward ! Unfortunately we decided to close this issue, since we added [styled-components](https://www.styled-components.com/) in the meantime. Adding more styling tools to the boilerplate offered by CEA would stray away from our preference for minimalism.

[2020-10-05 11:56] PaulRBerg opened #74 "Use eslint instead of tslint"
[Tslint is getting deprecated](https://github.com/palantir/tslint/tree/10fc233b2555044b145c9bbd9f602d43e8df2216).

[2020-10-17 13:05] PaulRBerg commented on #28
@TomAFrench, shouldn't we close this?

[2020-10-17 14:22] TomAFrench commented on #28
Yeah, I think any changes to the wallet management would come under a separate issue.

[2020-10-17 14:22] #28 closed, assigned to nobody

[2020-10-18 15:37] TomAFrench opened #78 "Abstract scripts from frameworks."
As mentioned in #61, we have two copies of `ipfs.js`. If we're going to be adding extra helper scripts in future it's worth creating a single folder to store them in.

[2020-10-18 16:56] PaulRBerg commented on #78
Wouldn't this be solved when #38 gets solved?

[2020-10-27 11:19] PaulRBerg opened #81 "Migrate to create-react-app@4.x"
See [Release v4.0.0][1].

[1]: https://github.com/facebook/create-react-app/releases/tag/v4.0.0

[2020-10-27 11:50] PaulRBerg opened #82 "Ask for framework and template in interactive mode"
Create Eth App is powerful - it lets you choose-your-own-adventure via the `--framework` and `--template` CLI arguments. However, these options are not allowed when running Create Eth App with no arguments, i.e. `yarn create eth-app` or `create-eth-app`. Should we ask the user about them?

This is meant to be a discussion, since I'm not yet sure if the payoff is worth it.

[2020-10-27 13:31] TomAFrench opened #83 "Add projects built with create-eth-app to README"

[2020-10-27 17:07] PaulRBerg commented on #83
Off the top of my head:

+ https://github.com/raid-guild/xdai-omnibridge
+ https://github.com/ensdomains/reclaim

[2020-10-27 17:08] PaulRBerg opened #85 "Use a spinning Ethereum logo instead of a static one"
Just like Create React App displays the spinning React logo.

[2020-11-01 12:50] PaulRBerg opened #88 "Change the core branch from "develop" to "main""
I like to make "develop" the default branch in most of my version-controlled projects, but in the case of CEA, it would make more sense if we used a better name that would indicate production-readiness.

I'd go with "main", as per GitHub's latest migration from "master".

[2020-11-01 13:35] PaulRBerg opened #89 "Testnet faucets"
Finding a testnet faucet that works can be a pain, especially when you're new to Ethereum and you don't know the basics.

Giving users an easy way to get testnet ETH or DAI would be nice. Bonus points if we convince the miners running the testnets to sponsor us and make CEA a faucet in its own right.

[2020-11-01 20:24] PaulRBerg opened #90 "Check if the provided path is writable"
The path that the user feeds to Create Eth App may not be writable on the user's file system. Add a check [similar to how Create Next App did it][1].

[1]: https://github.com/vercel/next.js/commit/0226e7872a7730f23172391cf882310ab52bdd9d

[2020-11-02 11:49] PaulRBerg opened #91 "Switch from Handlebars to Mustache"
Mustache is only [110 kB][1] in size, while Handlebars a whopping [2.72 MB][2].

It's true that TypeScript is smart and doesn't include the unused code from the Handlebars package, but I suspect that the resulting build would be smaller with Mustache nonetheless.

[1]: https://www.npmjs.com/package/mustache
[2]: https://www.npmjs.com/package/handlebars

[2020-11-02 11:59] PaulRBerg commented on #91
Wait, I'm not sure we can do this:

We do use if-else statements and for loops in Create Eth Ap.

[2020-11-10 11:18] PaulRBerg commented on #83
One more:

https://github.com/PermanentLoss/permanentloss

[2020-11-11 23:05] PaulRBerg opened #93 "Write e2e tests"
As expounded in #86, writing e2e tests for Create Eth App is no easy feat. Some considerations:

+ Settle on *what* we want to test: template installation, functional package.json scripts, etc.
+ Settle on *how* we want to test: vanilla TypeScript, shell scripts, etc.
+ If applicable, settle on *where* to download CEA from: npm registry or a proxy like [verdaccio][1]?

Importantly, I would begin w

[2020-11-13 11:10] PaulRBerg commented on #56
Implemented in #86.

[2020-11-13 11:10] #56 closed, assigned to nobody

[2020-11-13 11:12] PaulRBerg commented on #74
Fixed in [d642e08][1].

[1]: https://github.com/PaulRBerg/create-eth-app/commit/d642e0826cbbc6ae405ec723be532be6f7770f28

[2020-11-13 11:12] #74 closed, assigned to nobody

[2020-11-13 11:12] PaulRBerg commented on #61
Fixed in #77.

[2020-11-13 11:12] #61 closed, assigned to nobody

[2020-11-13 11:13] PaulRBerg commented on #70
Implemented in #75.

[2020-11-13 12:26] PaulRBerg commented on #21
Fixed in [abdb678](https://github.com/PaulRBerg/create-eth-app/pull/75/commits/abdb6783fb5475ceb3125d6ee5cfeffe690090ff).

[2020-11-13 12:26] #21 closed, assigned to PaulRBerg

[2020-11-13 13:02] PaulRBerg commented on #38
Or what if we piggybacked off [money-legos][1]?

Pro: our code base would shrink in size significantly.

Con: we'd have to drop support for testnets, or still hardcode those addresses, because money-legos provides contract data for mainnet only.

[1]: https://github.com/studydefi/money-legos

[2020-11-14 11:42] PaulRBerg commented on #70
I'm reopening this issue because I realised that a strict versioning of templates comes with an undesirable second-order effect.

Say that we release v1.6.0 and it has a bug that makes all templates not run the start script. Well, all users that installed create-eth-app@1.6.0 globally will forever be stuck with a defect release of our software.

It's true that similar bad things can happen when CE

[2020-11-14 11:48] PaulRBerg opened #95 "Ditch the testnet addresses"
My rationale for this is three-fold:

+ Small payoff but huge maintenance cost
+ People find the testnet addresses superfluous (as per [my Twitter poll](https://twitter.com/PaulRBerg/status/1327233842797744130))
+ If the developer is aware of what a testnet is, and that a specific DeFi protocol is *actively* maintained on that testnet, it means that he's familiar with the documentation of that pro

[2020-11-14 13:03] #70 closed, assigned to nobody

[2020-11-19 07:14] tota999 opened #97 "Ya"

[2020-11-19 09:22] PaulRBerg commented on #97
Hi @tota999, please don't open empty issues.

[2020-11-19 09:22] #97 closed

[2020-11-19 21:22] TomAFrench opened #99 "Add a json verifier to CI"
Half my errors are missing/adding an extra comma or forgetting to escape a double quote but these aren't picked up in the test suite currently.

[2020-11-20 00:55] TomAFrench commented on #82
This would help with discoverability of different templates if we showed a menu of possible options.

[2020-11-20 21:41] PaulRBerg commented on #99
Makes sense. As a temporary solution though, you could add this to your VSCode settings:

[code]

[2020-11-20 23:31] PaulRBerg opened #101 "The Balancer React template doesn't work in v1.6.0"
We need to delete the null statement in the Balancer React template:

<img width="1227" alt="Capture d’écran 2020-11-21 à 01 25 41" src="https://user-images.githubusercontent.com/8782666/99859534-fcb9f200-2b98-11eb-816f-69547971f729.png">

FWIW this was introduced in [887fcc7][1], because Vue behaves the other way around: without the null statements, it crashes because `Contract` and `getDefault

[2020-11-20 23:44] #101 closed, assigned to nobody

[2020-11-22 12:34] PaulRBerg opened #103 "Test the "parseTemplate" function"
The [parseTemplate][1] function is one of the most important functions in the whole code base, but we have written exactly zero tests for it.

[1]: https://github.com/PaulRBerg/create-eth-app/blob/v1.6.1/src/helpers/templates.ts#L34-L69

[2020-11-23 22:09] ngurmen opened #104 "Missing core.js dependency"
**Bug Description**
core.js is missing from package.json for vue-app

**Steps to Reproduce**
1. git clone https://github.com/PaulRBerg/solidity-template.git dapp-vue-syn
2. yarn create eth-app dapp-vue --framework vue --template synthetix
3. cd dapp-vue
4. yarn vue-app:serve

The app does not start as it cannot find core.js dependency.

**Expected Behavior**
Vue app should have started at the loca

[2020-12-04 02:11] Anibus opened #106 "Creating error"
Aborting installation.
Unexpected error. Please report it as a bug:
[Error: EPERM: operation not permitted, mkdir 'C:\Program Files (x86)\Yarn\my-eth-app'] {
  errno: -4048,
  code: 'EPERM',
  syscall: 'mkdir',
  path: 'C:\\Program Files (x86)\\Yarn\\my-eth-app'

[2020-12-04 11:29] PaulRBerg commented on #106
Hey @Anibus, thanks for opening an issue! We're already tracking this in #90.

I am not a Windows user myself so it's hard to reproduce the error, but I think you try to run CEA in a folder that you have write access, it will work. It looks like `C:\Program Files (x86)\Yarn` is a protected path.

[2020-12-04 11:29] #106 closed, assigned to nobody

[2020-12-05 06:14] Anibus commented on #106
thxs I'll give it a shot

[2020-12-12 17:18] crazyrabbitLTC opened #108 "Connect Wallet w/ Metamask stuck in Loop on Vanilla Install"
**Bug Description**
The "Connect Wallet" button creates a looping metamask attempt to connect to wallet on vanilla `create-eth-app` install for React.

**Steps to Reproduce**

1. Install vanilla `create-eth-app` for react.
2. Run the App.
3: Attempt to connect wallet

**Expected Behavior**
Expected that metamask popup would appear once, upon confirmation of permission to connect, it would close, n

[2020-12-20 12:46] PaulRBerg commented on #108
Hey Dennison! Thanks for reporting this. Unfortunately, I cannot reproduce the bug.

Can you share more details about the OS, browser and version of MetaMask you are using?

[2020-12-20 12:48] PaulRBerg commented on #108
I've also recently released v1.6.2, which applies a fix for a possibly related issue (documented in #92). It could be the case that the infinite loop is now gone on your end too.

You can check this by simply using `yarn create eth-app`, which pulls the latest version of CEA automatically.

[2020-12-21 03:15] crazyrabbitLTC commented on #108
Sorry, I should have included that detail in the issue. I'm away from the office computer for the holidays, but will check as soon as I'm back!

[2020-12-21 20:59] PaulRBerg commented on #108
No worries, thank you!

[2020-12-28 10:52] PaulRBerg opened #112 "Add missing hyperlinks in CHANGELOG"
No version including v1.3.0 and above has a hyperlink that leads to the corresponding GitHub release page.

[2021-02-28 23:10] yolo-gorilla opened #113 "error Cannot create "/usr/local/bin/create-eth-app" due to insufficient permissions."
**Bug Description**
running yarn create eth-app my-eth-app on ubuntu fails with permission error

yarn version:
1.22.5

**Steps to Reproduce**

1. . Run yarn create eth-app my-eth-app

**Expected Behavior**
Expected behavior is creating a new appllication boilerplate

**Additional Context**
Add any other context about the problem here (screenshots, whether the bug only occurs only in certain
mobil

[2021-03-01 12:09] PaulRBerg commented on #113
Hi @yolo-gorilla, this looks like an unix permissions issue. Can you try switching to a user that has admin privilege, or prepend the command with "sudo"?

[2021-03-02 19:00] yuti198126 opened #114 "0x792cd2f0746bd3e77dbb4a6b1258cdf45a286e04"
yarn create eth-app my-eth-app
0x792cd2f0746bd3e77dbb4a6b1258cdf45a286e04 my-eth-app
yarn react-app:start

[2021-03-02 19:00] yuti198126 commented on #114
0x792cd2f0746bd3e77dbb4a6b1258cdf45a286e04

[2021-03-02 23:21] PaulRBerg commented on #114
Hi Yuti! This channel is for bugs and feature requests.

It's not clear to me what did you want to report with this?

[2021-03-10 16:04] ashfahan opened #115 "throws error when creating a project on windows"
**Bug Description**
cannot do packages installation in project

throws error when creating a project

Error: Couldn't find match for "36040d5b5312f19a025782b5e36663823494c2f3" in "refs/heads/air,refs/heads/asc-encoding,refs/heads/asm-div,refs/heads/aspublish,refs/heads/backport-minor,refs/heads/binary-refactor,refs/heads/binaryen-reftypes,refs/heads/eqeqeq,refs/heads/esm-loader,refs/heads/externre

[2021-03-10 21:49] PaulRBerg commented on #113
Closing this since I got no reply back.

[2021-03-10 21:49] #113 closed, assigned to nobody

[2021-03-11 09:11] #114 closed, assigned to nobody

[2021-03-11 09:36] PaulRBerg commented on #115
Hey @ashfahan, thanks for reporting!

This seems to be an issue with Yarn and your local installation of AssemblyScript. Can you try to [delete the cache](https://reactgo.com/yarn-clear-cache/) or [delete the .tmp folder](https://stackoverflow.com/a/62035150/3873510)?

[2021-03-11 12:44] ashfahan commented on #115
brilliant  @paulrberg  it worked 🙌🤩🎉

[2021-03-11 12:45] #115 closed, assigned to nobody

[2021-03-19 05:00] kkagill opened #116 "Module not found: Can't resolve '@project/contracts'"
Thank you for awesome repo!

ran `yarn react-app:start` and it gave me

Seems like import statement `import { addresses, abis } from "@project/contracts";` in `App.js`  doesn't not recognize files in `contracts` folder.

[Researched ](https://stackoverflow.com/questions/44114436/the-create-react-app-imports-restriction-outside-of-src-directory) a bit, and says there's import restriction outside of

[2021-03-19 10:01] PaulRBerg commented on #116
Hey @kkagill, the issue is that you changed the name of your `contracts` package. What is the value of the `name` field in your `packages/contracts/package.json.` file?

By default, the name is `@project/contracts`, but if you change it, you will have to also change all the places where it is used.

You can read about how yarn workspaces work [here](https://classic.yarnpkg.com/en/docs/workspaces#s

[2021-03-19 20:46] kkagill commented on #116
@paulrberg Thanks for the reply. FYI, it was the fresh copy and nothing was changed. I guess it's windows related problem :(

[2021-03-20 10:09] PaulRBerg commented on #116
Oh, shoot! Reopening now.

Can you share the following information?

+ Specific version of Windows 10
+ Bit architecture (32 or 64 bit)
+ Yarn version

Also:

1. Could you try clean your cache and see what happens? Via `yarn cache clean`.
2. Did you run CEA within another node.js project (that is, if there is another `package.json` higher up in the file tree)

[2021-03-22 07:37] kkagill commented on #116
Hi @paulrberg

Windows 10 Pro
64 bit
Yarn version v1.22.10

1. cleared cache and tried again but same error
2. nope I ran the start command from the root (my-eth_app)

[2021-03-22 09:19] PaulRBerg commented on #116
Thanks for the info! Will investigate further.

[2021-04-10 23:47] emiratay opened #118 "ethereum create app"
i wanna build nft marketplace so these codes will help me to create nft marketplace ?

[2021-04-11 08:28] PaulRBerg commented on #118
Hey @emiratay! Your question is too generic for this repository, so I will close it. The answer is obvious: you can start from CEA and build any Ethereum-powered frontend app.

If the goal is to validate your business idea, I recommend posting the questions in either the [/r/ethfinance](https://www.reddit.com/r/ethfinance/) or the [/r/ethdev](https://www.reddit.com/r/ethdev/) subreddit.

[2021-04-11 08:28] #118 closed, assigned to nobody

[2021-04-11 11:09] emiratay commented on #118
thank you man i hope they help me

11 Nis 2021 Pzr 11:28 tarihinde Paul Razvan Berg ***@***.***>
şunu yazdı:

[2021-04-12 08:21] emiratay opened #119 "web3@1.3.5"
PS C:\Windows\System32> npm install --save web3@1.3.5
npm WARN deprecated mkdirp-promise@5.0.1: This package is broken and no longer maintained. 'mkdirp' itself supports promises now, please switch to that.
npm WARN deprecated request@2.88.2: request has been deprecated, see https://github.com/request/request/issues/3142
npm WARN deprecated har-validator@5.1.5: this library is no longer supported

[2021-04-12 09:05] PaulRBerg commented on #119
Hi @emiratay! Please use [StackOverflow](https://stackoverflow.com) for generic questions about node.js development.

[2021-04-12 09:05] #119 closed, assigned to nobody

[2021-04-15 07:45] Moelee304octo opened #120 "Crispy-octogoggles"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-04-15 14:39] PaulRBerg commented on #120
Hi @Moelee304octo! Please refrain from spamming the issue channel if you don't have an actual issue to report.

[2021-04-15 14:39] #120 closed, assigned to nobody

[2021-04-17 15:13] razgraf opened #121 "Subgraph template name"
In the default subgraph template (specifically [subgraph.yaml](https://github.com/paulrberg/create-eth-app/blob/develop/templates/react/default/packages/subgraph/subgraph.yaml)) the repository is pointing to `sablierhq/sablier-subgraph`. This will cause all instances of CEA to declare that as the project repo (e.g. [EPNS](https://github.com/ethereum-push-notification-service/epns-incentives-dapp/t

[2021-04-17 19:26] PaulRBerg commented on #121
Thanks for the report, dude!

[2021-05-14 08:55] PaulRBerg commented on #112
Fixed in [2b5260c](https://github.com/paulrberg/create-eth-app/commit/2b5260c80b104666bc610651eefb3bf20830afa6).

[2021-05-14 08:55] #112 closed, assigned to nobody

[2021-05-14 08:55] PaulRBerg commented on #55
Fixed in [v1.6.3](https://github.com/paulrberg/create-eth-app/releases/tag/v1.6.3), thanks to #125.

[2021-05-14 08:55] #55 closed, assigned to TomAFrench

[2021-05-14 09:00] PaulRBerg opened #126 "Node v14 warning: circular dependency"
Running `yarn clean` works, but it prints this in the console:

[code]

[2021-05-24 17:01] ghost opened #127 "Error: Command failed: yarnpkg --version"
Aborting installation.
Unexpected error. Please report it as a bug:
Error: Command failed: yarnpkg --version
    at checkExecSyncError (child_process.js:640:11)
    at execSync (child_process.js:676:15)
    at shouldUseYarnWorkspaces (/usr/local/share/.config/yarn/global/node_modules/create-eth-app/dist/index.js:43964:61)
    at /usr/local/share/.config/yarn/global/node_modules/create-eth-app/dist

[2021-05-24 19:46] #26 closed, assigned to nobody

[2021-05-24 19:48] #91 closed, assigned to nobody

[2021-05-24 19:50] PaulRBerg commented on #127
Hey @AstinAshler, thanks for reporting this! To be able to assist you, I need more information:

1. What operating system are you using, and what version?
2. What version of yarn are you using?
3. What is the specific command line instruction that you ran? (remember that the recommended approach is to use `yarn create eth-app` instead of the global CLI, this way you're always getting the latest ve

[2021-05-24 19:50] #48 closed, assigned to nobody

[2021-05-24 19:51] #44 closed, assigned to nobody

[2021-05-24 19:52] #33 closed, assigned to nobody

[2021-05-24 19:52] #31 closed, assigned to nobody

[2021-05-24 19:53] PaulRBerg commented on #27
Closing since GitHub has started generating covers for us.

[2021-05-24 19:53] #27 closed, assigned to nobody

[2021-05-24 20:26] ghost commented on #127
1. linux ubuntu 22.04 LTS
2. 1.22.5
3. sudo yarn create eth-app my-eth-app --template compound
ps. thank you very much that you answer my question.

[2021-05-25 05:02] joshuabyler commented on #127
@paulrberg I think the issue here is the work that was done for this bug https://github.com/paulrberg/create-eth-app/issues/5 is now an issue for later versions of yarn where workspaces are no longer an experimental feature that requires it to be set in the yarnrc

Workspaces have been enabled since 1.0.0

I'm on Mac OSX 11.4
Yarn Version - 2.4.1
The command I run is `yarn create eth-app my-eth-ap

[2021-05-25 05:11] joshuabyler commented on #127
https://github.com/paulrberg/create-eth-app/pull/134

[2021-05-25 09:54] PaulRBerg opened #135 "Investigate why integration tests are failing on CI"
They are not failing locally.

[2021-05-25 09:58] PaulRBerg commented on #127
Thanks for your help in debugging this, @AstinAshler, and thanks for your PR, @heronblade.

I just shipped v1.6.4. Can you check if you can run it now?

[2021-05-25 13:16] joshuabyler commented on #127
looks great @paulrberg, ran through without any issues

[2021-05-25 13:23] #127 closed, assigned to nobody

[2021-05-25 15:52] joshuabyler commented on #116
Was able to fix this, a bunch of different steps, and you kind of have to keep solving bugs as you go down.

Mine might not solve @kkagill 's issue, but it might help.  Also, try and run `yarn add` in each of the main folders in `packages`

I am using the vue template, and yarn 2.  The vue-cli is not completely compatible with yarn 2 so there are some issues that have to be resolved.

I added the

[2021-05-25 15:57] joshuabyler commented on #104
@ngurmen I had the same issue, i just ran `npm i --save core-js` in the `packages/vue-app` folder

[2021-05-26 03:36] ghost commented on #127
I try to resolve with #5 but got the same problem

Aborting installation.
Unexpected error. Please report it as a bug:
Error: Command failed: yarnpkg --version
    at checkExecSyncError (child_process.js:640:11)
    at execSync (child_process.js:676:15)
    at shouldUseYarnWorkspaces (/usr/local/share/.config/yarn/global/node_modules/create-eth-app/dist/index.js:43964:61)
    at /usr/local/share/.

[2021-05-26 07:44] PaulRBerg commented on #127
I don't know how to continue debugging this. @AstinAshler are you sure are you using the latest version (v1.6.4)?

[2021-05-26 08:38] PaulRBerg commented on #104
I managed to reproduce the bug on my machine. Already working on a fix!

[2021-05-26 08:57] PaulRBerg commented on #104
Fixed in [v1.6.5](https://github.com/paulrberg/create-eth-app/releases/tag/v1.6.5).

[2021-05-26 08:57] #104 closed, assigned to nobody

[2021-05-26 14:32] joshuabyler commented on #127
@AstinAshler have you tried without using `sudo`?

[2021-05-26 19:46] ghost commented on #127
hello there, I finally find out how to solve the problem
instead of using `sudo yarn `
I change to `sudo npm` instead and it works.

this may help others in the future.

[2021-05-26 19:58] PaulRBerg commented on #127
Hey @AstinAshler, CEA is not meant to be used with npm because it uses a special feature available only in yarn.

Can you try run the command without `sudo`?

[2021-05-26 20:08] ghost commented on #127
I got this after I run `yarn create eth-app my-eth-app --template compound`

[2021-05-26 20:19] PaulRBerg commented on #127
It looks like you don't have your [registry](https://docs.npmjs.com/cli/v7/using-npm/registry/) set up correctly. This is starting to look more and more like a general issue with your npm/ yarn installation - if that is so, I recommend asking for help on [StackOverflow](https://stackoverflow.com).

[2021-06-14 03:10] lopezdp commented on #29
Yes. Anything on the HOW TO would be amazing...

[2021-06-14 07:53] PaulRBerg commented on #29
Hey @lopezdp, did you look at the README? There are "Quick Overview", "Creating an App" and "Philosophy" sections. In addition, here are two articles that show how to use CEA:

- [Build your Ethereum Project with Create Eth App](https://www.paulrberg.com/create-eth-app-intro/)
- [Kickstart your dapp frontend development with create-eth-app](https://ethereum.org/ml/developers/tutorials/kickstart-yo

[2021-06-20 11:02] PaulRBerg opened #139 "Remove redundant "nohoist" for @graphprotocol dependencies"
[It looks like](https://github.com/graphprotocol/graph-cli/issues/258#issuecomment-825569824) since v0.20.x, The Graph made their packages work with yarn workspaces.

[2021-06-20 11:11] PaulRBerg commented on #126
Fixed in [87f29fe](https://github.com/paulrberg/create-eth-app/commit/87f29febd4f27799309e5e2062803ad3693cb98f).

[2021-06-20 11:11] #126 closed, assigned to nobody

[2021-06-20 11:13] PaulRBerg commented on #139
Done in [d10afa7](https://github.com/paulrberg/create-eth-app/commit/d10afa7c1879a7584dd4d4f06b819f1945bdbf2a).

[2021-06-20 11:13] #139 closed, assigned to nobody

[2021-06-21 18:51] PaulRBerg opened #140 "Check that the yarn registry is the default one"
As CRA does:

https://github.com/facebook/create-react-app/blob/0ee4765c39f820e5f4820abf4bf2e47b3324da7f/packages/create-react-app/createReactApp.js#L325-L340

[2021-06-28 05:34] Gajesh2007 opened #143 "How to use custom rpc while configuring Web3Modal?"
I am working on a Dapp and by default, I am using infura. How can I use custom RPC?

[2021-06-29 03:55] jswelsh commented on #127
I was having a similar issue. finally got it working after
`yarn cache clean`
`sudo yarn create eth-app my-eth-app --template compound`
YMMV

[2021-06-30 07:26] #143 closed, assigned to nobody

[2021-07-04 00:13] YOUSU198 commented on #126
https://github.com/paulrberg/create-eth-app/issues/126#issue-891748881

[2021-07-04 00:14] YOUSU198 commented on #126
(node:29759) Warning: Accessing non-existent property 'cat' of module exports inside circular dependency
(Use `node --trace-warnings ...` to show where the warning was created)
(node:29759) Warning: Accessing non-existent property 'cd' of module exports inside circular dependency
(node:29759) Warning: Accessing non-existent property 'chmod' of module exports inside circular dependency
(node:29759)

[2021-07-04 08:11] PaulRBerg commented on #126
Hey @YOUSU198, this is not yet fixed on the CEA distributed on npm. It is, however, a contributor related-concern, and it is fixed on the `staging` branch. So I closed it.

[2021-07-04 11:26] royhodge opened #145 "Incompatible Node Versions"
**Bug Description**
It is pretty difficult to get create-eth-app generated without a very specific version of node.

**Steps to Reproduce**

1. Attempt 'yarn create eth-app'
2. With any random version of Node..

**Expected Behavior**
The engine "node" is incompatible with this module. Expected version ">=12". Got "10.16.0"
^ Or erhaps some other nodejs building error during your yarn create proces

[2021-07-04 13:19] PaulRBerg commented on #145
Thanks for reporting, @royhodge! I'll either update the README or fix the node incompatibility issue.

[2021-07-05 00:08] lopezdp commented on #29
@paulrberg yeah man ive read both, not too exhaustive of a reference... I mean it gives a nice overview; whenever I figure it out ill write an exhaustive blog helping people develop these step by step; im trying to figure out all the details to Sablier as well. you know how it is just gotta put in the work.

[2021-07-06 22:41] royhodge commented on #145
no problem. Happy to help.

[2021-08-05 12:51] projenix opened #149 "Fresh installation issue"
Hello I am having trouble installing this on Mac OS (Apple Silicon).

Getting this error:

Creating a new Ethereum-powered React app in /Users/projenix/Ethereum-dev/ethapp0.

Downloading template files. This might take a moment.

Aborting installation.
Unexpected error. Please report it as a bug:
TypeError: stream.destroy is not a function
    at /Users/projenix/.config/yarn/global/node_modules/cr

[2021-08-06 08:22] PaulRBerg commented on #149
Hey @projenix! Thanks for reporting.

Reproducing this is a bit tricky for me as I don't have access to an Apple Silicon computer.

Could I kindly ask you to share the following information?

- The exact command you ran
- Whether you ran the command as an administrator or a simple user
- Version of node.js
- Version of operating system

[2021-08-06 12:53] martinoss commented on #149
Exact same error here, but on Windows 10.

![image](https://user-images.githubusercontent.com/2587942/128513167-19c546ce-a53f-4f25-9dc2-ad52572c3c59.png)

![image](https://user-images.githubusercontent.com/2587942/128513231-3a352c62-e992-401f-b10e-3590da0dd2bf.png)

[2021-08-06 19:43] PaulRBerg commented on #149
Thanks for reporting, @martinoss! I switched to node v14.15.5 but I couldn't manage to replicate the bug on my Mac. I did however located where the execution halts; it's line 27688 in [dist.js](https://unpkg.com/browse/create-eth-app@1.6.5/dist/index.js).

This might be an issue with either [node-promisepipe](https://github.com/esamattis/node-promisepipe) or [got](https://github.com/sindresorhus/g

[2021-08-13 15:24] fabioDMFerreira opened #151 "Make subgraph optional"
**Is your feature request related to a problem? Please describe.**
I am adding a template that doesn't need to query the subgraph.

**Describe the solution you'd like**
Changing the application to hide the subgraph if the template doesn't have the subgraph endpoint.

**Describe alternatives you've considered**
I'm thinking of creating a subgraph for my template if the community demands that the su

[2021-08-14 05:22] Elpasto28 commented on #81
# #150

[2021-08-14 07:08] Elpasto28 commented on #37
#81

[2021-08-14 09:59] paulrberg commented on #37
Hey @Elpasto28, thanks for your comment. Could you clarify your intention, please? Is it that migrating to CRA v4 will implicitly solve this GitHub issue?

[2021-08-14 10:04] PaulRBerg commented on #151
Hey, thanks for this! This is a duplicate of https://github.com/paulrberg/create-eth-app/discussions/133.

I will stop adding the subgraph by default in v2 :)

[2021-08-14 10:04] #151 closed, assigned to nobody

[2021-08-14 16:01] Benny1Blanco opened #152 "It should be easier to receive or exchange ETH then what it is right now. What can we do to make this easier"

[2021-08-14 20:46] #152 closed

[2021-08-20 02:09] santanaruben opened #155 "Deploying create-eth-app in netlify"
Hi Paul, great job, thanks for this project.
I am trying to deploy from netlify but I get the following error:

[code]
What would be the correct way to deploy a create-eth-app project in netlify?

Sorry if the question is more of a netlify issue per se. But I wanted to know if anyone else has gone through this situation with this project.

[2021-08-21 13:18] #155 closed, assigned to nobody

[2021-09-09 22:48] briansoule commented on #149
Same issue on macOS intel

[2021-09-09 22:56] briansoule commented on #149
So I think it may have been related to a networking interruption when installing dependencies. I ran `yarn global remove create-eth-app` and then `yarn create eth-app` succeeded.

[2021-09-10 07:48] PaulRBerg commented on #149
Thanks for the additional data points, @briansoule.

[2021-09-13 10:20] PaulRBerg opened #158 "Add support for user info and ENS in Vue app"
#146 added support for user info and ENS, but only in the React app.

We should port that to Vue as well.

[2021-09-13 11:35] PaulRBerg opened #159 "Add a "Contributors" section in the README"
Which contains the profile pictures of the contributors. See how [standard-readme](https://github.com/RichardLitt/standard-readme) does it:

<img width="826" alt="Capture d’écran 2021-09-13 à 14 34 33" src="https://user-images.githubusercontent.com/8782666/133076550-2e1b35b1-5778-4641-bc20-95472e73260f.png">

[2021-09-13 12:09] PaulRBerg commented on #135
They are now failing locally too:

[code]

[2021-09-13 12:56] PaulRBerg commented on #135
I figured it out, and solved it in https://github.com/paulrberg/create-eth-app/commit/0ded02f79ecd6eca6a6d08f88166b9d20cd18433.

There were multiple issues, but I think the one that caused this problem was the fact that the "url-exist" module was imported in the "url-exist" mock. This might have lead to a circular import.

The other issues were:

- The `__mocks__` directory was not placed next to

[2021-09-13 17:03] PaulRBerg commented on #135
What I know thus far:

- The [downloadUrl](https://github.com/paulrberg/create-eth-app/blob/staging/src/helpers/frameworks.ts#L14) is computed correctly as `https://codeload.github.com/paulrberg/create-eth-app/tar.gz/refs/heads/staging`.
- There is no uncaught error when piping the [got.stream](https://github.com/paulrberg/create-eth-app/blob/8083b7c58666d8a5bd24bf12ce35bf9fbf999e5e/src/helpers/fr

[2021-09-13 18:22] PaulRBerg opened #160 "Find a more robust way to handle the tar extraction of the downloaded files"
The current way the repo files are extracted after they are downloaded is prone to errors. I've spent four hours today debugging https://github.com/paulrberg/create-eth-app/issues/135, thinking that the issue is related to Jest or GitHub Actions, whereas in fact that was caused by a bug in the [getRefs](https://github.com/paulrberg/create-eth-app/blob/abff6a9614fb4d3247225566d5c5489c0d91b202/src/h

[2021-09-13 18:31] PaulRBerg commented on #160
See [Node.js package for extracting branch name from git ref](https://stackoverflow.com/questions/69167493/node-js-package-for-extracting-branch-name-from-git-ref).

[2021-09-13 18:41] PaulRBerg commented on #160
The `getRefs` must definitely be overhauled such that `ref` is always the branch name itself, and it is not prefixed with `refs/heads`. Ditto for tags, remotes, etc.

[2021-09-13 18:49] PaulRBerg commented on #135
Finally solved in https://github.com/paulrberg/create-eth-app/commit/fcec59d71c7f050247665f152428b45470ec1248.

[2021-09-13 18:50] #135 closed, assigned to nobody

[2021-09-15 12:08] PaulRBerg commented on #149
While debugging and fixing #135, I bumped into the same error as shared by you guys, `stream.destroy is not a function`. The error might have been related to the bug I fixed in https://github.com/paulrberg/create-eth-app/commit/fcec59d71c7f050247665f152428b45470ec1248, a fix which has been included in the [v1.7.0](https://github.com/paulrberg/create-eth-app/releases/tag/v1.7.0) release.

Let me kn

[2021-09-18 05:13] mcsweeneyJA commented on #149
bumping as im trying to set up a fresh install and failing with same errors as the people above. On windows 10

[2021-09-18 22:03] mpokryva opened #162 "TypeError: (0 , url_exist_1.default) is not a function when using --framework"
**Bug Description**

Getting `TypeError: (0 , url_exist_1.default) is not a function` when using the `--framework` flag.

**Steps to Reproduce**

1. `yarn create eth-app --framework react .` in an empty dir.

**Expected Behavior**

[code]

**Additional Context**

* Running on macOS 11.2.1 (Big Sur).
* `nvm version` returns `v12.22.1`.

[2021-09-20 15:14] PaulRBerg commented on #162
Thanks for reporting! I managed to reproduce it. I'm working on a fix.

[2021-09-20 22:38] PaulRBerg opened #163 "Turn the project into an ESM"
See https://gist.github.com/sindresorhus/a39789f98801d908bbc7ff3ecc99d99c.

[2021-09-20 22:49] PaulRBerg commented on #162
Fixed in [v1.7.1](https://github.com/paulrberg/create-eth-app/releases/tag/v1.7.1) via https://github.com/paulrberg/create-eth-app/commit/5bb796e8cded2299f8f55093a18aed208906925c.

[2021-09-20 22:49] #162 closed, assigned to nobody

[2021-09-23 21:09] sjwhitmore opened #164 "Can't reinstall node_modules from a fresh version of the project"
**Bug Description**
Hi, first off -- thanks for your work here! This a very helpful repo. This is a minor issue I noticed when trying to collaborate with a friend on a project created from this base.  After a fresh install of the project and a push to GitHub, my friend can't run yarn install to reproduce the `node_modules` folder created by running `yarn create eth-app`.
**Steps to Reproduce**

[c

[2021-09-24 13:10] martinoss commented on #149
Just checked with 1.7.1, the error is still there

[2021-09-25 08:18] Luckystrike25 opened #165 "https://goerli.etherscan.io/dapp/0xe823b15bb0ff27ef6c26ae86509e839d4cceaebc"
**Bug Description**
A clear and concise description of what the bug is.

**Steps to Reproduce**

1. Go to ...0x6C5415811f4C0dBFFb37a63c9B1db379BC0edf55

0xD1741c463bb228153EB336d20Dec37AA3115B5A7

0x9F1A5DccB24c00dB0b8Ab5B7a276783aD1ecFA28

2. Click on

**Expected Behavior**
A clear and concise description of what you expected to happen.

**Additional Context**
Add any other context about the prob

[2021-09-25 08:19] Luckystrike25 commented on #165
0x9F1A5DccB24c00dB0b8Ab5B7a276783aD1ecFA28

[2021-09-25 15:01] paulrberg commented on #165
Closing for spam.

[2021-09-25 15:01] #165 closed

[2021-09-25 15:34] PaulRBerg commented on #164
Hey Samantha, thanks for the kind words, and the detailed report. I couldn't manage to reproduce this, on my Mac running macOS@11.5.2 with yarn v1.22.10. Assuming that you are on Windows, this issue may be a duplicate of #115. Can you [delete the yarn cache](https://reactgo.com/yarn-clear-cache/) and see if that works?

At any rate thanks for opening this - I noticed that though installation works

[2021-09-25 23:21] mljlynch opened #166 "ipfs-http-client: Expected node version ">=14.0.0" on fresh install"
**Bug Description**

The docs say that version 10 and later of node are supported

error ipfs-http-client@50.1.2: The engine "node" is incompatible with this module. Expected version ">=14.0.0". Got "12.19.0"
error Found incompatible module.

**Steps to Reproduce**
nvm version - v12.19.0

[code]

**Expected Behavior**
Expected this to install

**Additional Context**
Add any other context about the

[2021-09-26 00:51] PaulRBerg commented on #166
Thanks for reporting! This is a duplicate of #145. Closing this so the issue is tracked in one place only.

[2021-09-26 00:51] #166 closed, assigned to nobody

[2021-09-26 00:51] PaulRBerg commented on #145
As explained by @mljlynch, the minimum version of node.js required is now v14:

[2021-09-26 03:37] mljlynch commented on #145
Happy to take care of updating the README for you if you would like

[2021-09-29 16:42] sjwhitmore commented on #164
Deleting the yarn cache and running yarn install resulted in a clean install of the node_modules, so all good here now. Thanks!

[2021-09-29 16:42] sjwhitmore commented on #164
Forgot to mention that I'm also on macOS@11.6, so may not just be a Windows problem?

[2021-09-30 07:23] PaulRBerg commented on #164
Glad to hear!

Ooh. That's good to know. Thanks for sharing that.

[2021-10-02 06:38] Add1ctiv3 opened #168 "Problems with fresh install"
Hello just tried to do a fresh install with the latest versions of node, npm and yarn (node->14.18.0)(npm->6.14.15)(yarn->1.22.15)

and when using yarn create eth-app nameOfTheApp I get the following error

yarn create v1.22.15
[1/4] Resolving packages...
[2/4] Fetching packages...
[3/4] Linking dependencies...
[4/4] Building fresh packages...
success Installed "create-eth-app@1.7.1" with binaries

[2021-10-02 11:23] PaulRBerg commented on #168
The error says "Error: Couldn't find the binary git". Do you have [Git](https://git-scm.com/downloads) installed on your machine?

Also, this could be related to https://github.com/paulrberg/create-eth-app/issues/145 or https://github.com/paulrberg/create-eth-app/issues/149. Could you try deleting your Yarn cache, and see if that works?

[code]

[2021-10-14 18:18] ezescigo opened #171 "Problem with fresh install in windows"
**Bug Description**
Can't run yarn create-eth-app

**Steps to Reproduce**

$ npm -v
7.24.1
$ node -v
v14.16.0

$ yarn create eth-app myapp
yarn create v1.22.15
[1/4] Resolving packages...
error Couldn't find match for "36040d5b5312f19a025782b5e36663823494c2f3" in "refs/heads/air,refs/heads/cloneexpression,refs/heads/dcodeIO-patch-1,refs/heads/encode16-fast,refs/heads/eqeqeq,refs/heads/externref-bi

[2021-10-14 18:26] PaulRBerg commented on #171
Thanks for reporting! I will close this though because it is a duplicate of either #149 or #168.

One of the fixes that worked was to clear the cache, using this command:

[code]

Could you try if that works for you, @EzeScigo?

[2021-10-14 18:26] #171 closed, assigned to nobody

[2021-10-19 12:25] kitcoun opened #172 "How to solve this problem？"
![image](https://user-images.githubusercontent.com/38834202/137908561-f9777fd5-f0b5-4f9d-921d-07e60a12a562.png)
![image](https://user-images.githubusercontent.com/38834202/137908615-6a893852-d377-4f2e-b6a9-7dce5bddf1ec.png)

[2021-10-19 12:34] #172 closed, assigned to nobody

[2021-11-13 11:23] HadiEsna opened #174 "Installation failure"
Hi
This repo is just what I need.
But when I tried to follow the instructions I got this error at the beginning.

<pre>
% yarn create eth-app my-eth-app
➤ YN0000: ┌ Resolution step
➤ YN0000: └ Completed
➤ YN0000: ┌ Fetch step
➤ YN0000: └ Completed
➤ YN0000: ┌ Link step
➤ YN0000: └ Completed
➤ YN0000: Done in 0s 50ms

Creating a new Ethereum-powered React app in /Users/hadiesna/source/dex/create-et

[2021-11-13 11:28] PaulRBerg commented on #174
Hi @HadiEsna! It looks like you have another node.js project defined in "source/dex".

Does it work if you run CEA in a different folder?

[2021-11-14 10:26] PaulRBerg commented on #174
It could also be a duplicate of https://github.com/paulrberg/create-eth-app/issues/168.

[2021-11-20 23:50] shawnkd opened #175 "gitignore file is not included in dist bundle"
Unable to Install Uniswap template using

yarn create eth-app my-eth-app --template uniswap-v2

Aborting installation.
Unexpected error. Please report it as a bug:
Error: ENOENT: no such file or directory, copyfile '/Users/shawn/.config/yarn/global/node_modules/create-eth-app/dist/gitignore' -> '/Users/shawn/devenv/dapp/.gitignore'
    at Object.copyFileSync (node:fs:2800:3)
    at /Users/shawn/.c

[2021-11-21 21:17] PaulRBerg commented on #175
Hi @shawnkd! I managed to reproduce this. Thanks for opening the issue!

[2021-11-21 21:58] #175 closed, assigned to nobody

[2021-11-21 22:05] PaulRBerg commented on #175
I fixed this in v1.7.2 - @shawnkd, can you try re-running the same command and see if it works now?

It works on my end.

[2021-11-21 22:15] shawnkd commented on #175
@paulrberg yes it is working for me now. Thank You!!!

[2021-12-09 17:23] jdurga commented on #168
I am facing the same problem. I spent 6hours to try all possible solutions mentioned in issue section, but not resolved.
Can someone help?
dApp> node --version
v17.2.0
dApp> yarn --versoin
yarn install v1.22.17
warning package.json: No license field
warning No license field
dApp> npm --version
8.1.4

git version 2.34.1.windows.1

[2021-12-10 11:09] PaulRBerg commented on #168
Hey @jdurga! I'm sorry you spent so much time on this. Unfortunately I'm not sure what causes this issue, could you add more details about the behaviors you have observed?

For what it's worth, you don't have to run CEA directly to get hold of the boilerplate code generated by it. You can just clone my [my-eth-app](https://github.com/paulrberg/my-eth-app) repository, which I generated on my machin

[2021-12-17 06:01] jdurga commented on #168
Paul, Thanks for the reply. It's working fine when I executed the commands on git bash shell instead of powershell on VSCode.

[2021-12-19 17:29] ghost opened #178 "create-eth-app will not finish building the packages. Stops here every time."
![Screen Shot 2021-12-19 at 11 27 21 AM](https://user-images.githubusercontent.com/83845990/146684614-239360cc-7221-4ec0-a0fe-c9bd52490af7.png)

[2021-12-20 11:34] PaulRBerg commented on #178
Hi @KeefeOverby! To debug this, I need more information about your environment.

1. Version of macOS?
2. Version of Node.Js?
3. Version of yarn?
4. What command did you run? Please paste it here exactly as you ran it.

[2021-12-20 14:06] RusseII opened #179 "IPFS deployment does not work out of the box"
**Bug Description**
![image](https://user-images.githubusercontent.com/15036618/146779288-2160f5ff-2a90-4091-a536-4cd453408d19.png)
It needs to be` ipfsApi.create(localhost)` instead of `ipfsApi(localhost)`
**Steps to Reproduce**
[code]

**Expected Behavior**
IPFS deployment to be successful

[2021-12-20 18:42] ghost commented on #178
![Screen Shot 2021-12-20 at 12 37 07 PM](https://user-images.githubusercontent.com/83845990/146816777-21c5e8de-8118-4dc8-aa9e-39288fe8132d.png)

[2021-12-20 18:42] #178 closed, assigned to nobody

[2021-12-20 18:42] ghost commented on #178
My bad... corrected with yarn create eth-app

[2021-12-20 18:43] ghost commented on #178
Thank you for the quick reply!

[2021-12-23 10:11] ghost opened #180 "Compiles but only white screen, errors when debugged and in console."
**Bug Description**
A clear and concise description of what the bug is.
It compiles but only white screen.
I got a throw 2 when I ran a debugger, and console says something about webpack.

**Steps to Reproduce**
![Screen Shot 2021-12-23 at 3 15 45 AM](https://user-images.githubusercontent.com/83845990/147224670-d7d59a1c-8b4a-4799-8d42-f5ab354766f7.png)

1. Go to ...
2. Click on ...

**Expected Beh

[2021-12-23 22:09] PaulRBerg commented on #180
Hey @KeefeOverby, unfortunately this is not a developer support channel. The issue you're running into is not related to CEA.

I recommend asking for help on [StackOverflow](https://stackoverflow.com/).

[2021-12-23 22:09] #180 closed, assigned to nobody

[2021-12-23 22:18] PaulRBerg commented on #179
Thanks for flagging this, @RusseII! I will take a look these days.

[2021-12-23 22:21] ghost commented on #180
You bet I am sorry about that!
I only have around two months experience so I am really fumbling around
here! 😂😁

On Thu, Dec 23, 2021 at 4:09 PM Paul Razvan Berg ***@***.***>
wrote:

[2021-12-27 13:21] PaulRBerg commented on #179
Fixed in v1.7.4! Running `yarn create eth-app my-eth-app` should auto-upgrade you to the latest version.

[2021-12-27 20:51] damaxin2001 opened #183 "Can't install on Windows"
Can't install, i try to remove, clean cache etc

[code]

[2021-12-27 22:11] PaulRBerg commented on #183
This looks like a Windows user permission issue. Does it work if you run the command as an administrator?

[2021-12-28 05:00] damaxin2001 commented on #183
i test with command as an administrator, and didn't work

[2021-12-28 07:40] damaxin2001 commented on #183
I resolve the problem, i need to change the name, without spaces

[2021-12-28 07:40] #183 closed, assigned to nobody

[2021-12-28 08:17] damaxin2001 opened #184 "Cannot find module"
How i can change the directory module, it is on User "Goncalo" and not on this one "Gon├ºalo Oliveira" ??

------------------------------------------------------------------
C:\Windows\System32\my-eth-app>yarn react-app:start
yarn run v1.22.17
$ yarn workspace @project/react-app start
node:internal/modules/cjs/loader:936
  throw err;
  ^

Error: Cannot find module 'C:\Users\Gon├ºalo Oliveira\AppDa

[2021-12-28 08:32] #179 closed, assigned to nobody

[2021-12-28 08:33] PaulRBerg commented on #184
Hey @damaxin2001, this issue tracker is specifically for questions about Create Eth App. For generic programming questions, you can use [StackOverflow](https://stackoverflow.com).

[2021-12-29 18:37] #184 closed, assigned to nobody

[2022-01-05 02:15] suyonglai commented on #174
Ｍｅ　ｔｏ，ｓａｍｅ　ｑｕｅｓｔｉｏｎ．

[2022-01-10 17:40] Adsgw commented on #160
[![Continuous Integration](https://github.com/paulrberg/create-eth-app/actions/workflows/integration.yaml/badge.svg)](https://github.com/paulrberg/create-eth-app/actions/workflows/integration.yaml)

[2022-01-10 18:59] IpastorSan commented on #168
Actually, this did the trick for me also, on Windows. Thanks, @jdurga!

[2022-01-10 19:28] PaulRBerg commented on #168
As a rule of thumb, external tools are best run in your usual terminal app. The VSCode shell  may have certain permissions and settings which interfere with those external tools.

[2022-01-17 21:36] Dentrax opened #190 "Failing build on fresh install: "package.json doesn't seem to have been installed""
**Bug Description**
Yarn throws the following error on fresh install:

[code]

What I've tried so far:
* `npm cache clean`
* `rm -rf node_modules`
* `yarn install` (exits 0)
* Deleting the yarn cache and running yarn install

**Steps to Reproduce**

1. `yarn create eth-app my-eth-app`
2. Expect error

[code]

**Expected Behavior**
It should build?

**Additional Context**
Add any other context abou

[2022-01-20 16:52] adriandelgg opened #191 "How did you record the terminal session in the README.md?"
Hi, awesome work!
I was curious to know how you were able to record your terminal and upload it to the `README.md`?

[2022-01-21 00:00] #191 closed, assigned to nobody

[2022-02-18 07:18] ooper-zz opened #196 "vue-app:serve does not reload the page"
### Discussed in https://github.com/paulrberg/create-eth-app/discussions/195

<div type='discussions-op-text'>

<sup>Originally posted by **ooper-zz** February 17, 2022</sup>
The background process does seem to recompile the project, but when I make edits to the page, it does not auto-reload.
I am starting it with yarn vue-app:serve.  I also tried adding --hot, but still no luck. Can you help? </d

[2022-02-20 21:30] PaulRBerg commented on #196
Honestly I am not sure why it doesn't work, I haven't checked the Vue integration in a long, long time.

I'll review this later .. in the meantime any feedback from Vue.js experts would be welcome. Maybe it's the version of the Vue CLI that I'm using in CEA that's the culprit?

@ooper-zz does hot reload work when you upgrade to the latest version of the Vue CLI?

[2022-02-20 23:27] ooper-zz commented on #196
Thank you, Paul for replying. I believe I tried it with the latest Vue CLI, but will check again later. With that said, your React integration is perfect --definitely a good fallback for us!

Best regards, and thank you for the tool!
/Carl

Sent from my iPhone

On Feb 20, 2022, at 1:30 PM, Paul Razvan Berg ***@***.***> wrote:

﻿

Honestly I am not sure why it doesn't work, I haven't checked the Vu

[2022-03-07 21:11] natebolam commented on #190
I ma having the exact same issue:
OS: `macOS 12.2.1 (M1)`
node: `16.14.0`
npm: `8.5.3`
commit: [89a9f219f21](https://github.com/paulrberg/create-eth-app/commit/89a9f219f210dde636e076fd2daa5882671e012b)

[2022-03-13 20:54] PaulRBerg opened #197 "Use a token contract with the same address on all chains in the default template"
When the user is connected to a chain different than Ethereum Mainnet, the call fails with a [CALL_EXCEPTION](https://docs.ethers.io/v5/troubleshooting/errors/#help-CALL_EXCEPTION) because the contract `0xc1C0472c0C80bCcDC7F5D01A376Bd97a734B8815` is only deployed on Ethereum only.

Instead I should use [deterministic-deployment-proxy](https://github.com/Zoltu/deterministic-deployment-proxy) to dep

[2022-03-14 15:38] PaulRBerg opened #198 "Switch to using Earl instead of Jest"
Jest is really hard to work with in TypeScript. See this (one of many issues I encountered with Jest):

https://github.com/timkindberg/jest-when/issues/94

[Earljs](https://github.com/dethcrypto/earl), on the flipside, is written in TypeScript and offers first-class support.

[2022-03-14 19:30] PaulRBerg opened #199 "Update the Aave template to the latest Aave contracts and subgraph"
The subgraph URL currently used in CEA does not work anymore:

https://api.thegraph.com/subgraphs/name/aave/protocol

It looks like the latest one is:

https://thegraph.com/hosted-service/subgraph/aave/protocol-v2

Similarly, the contract addresses are likely not up to date anymore.

[2022-03-15 10:39] PaulRBerg commented on #197
Done in https://github.com/paulrberg/create-eth-app/commit/b052da77b2afb55bae439fc79edb4f93de3d5759.

[2022-03-15 10:39] #197 closed, assigned to nobody

[2022-03-15 10:39] PaulRBerg commented on #145
Just took care of this in https://github.com/paulrberg/create-eth-app/commit/f99416b0b8846b5ba07b56d537fc26d85aec8444.

[2022-03-15 10:39] #145 closed, assigned to nobody

[2022-03-15 12:21] #108 closed, assigned to nobody

[2022-03-15 12:21] PaulRBerg commented on #108
Closing due to lack of activity and lack of reproducibility on our end.

[2022-03-18 14:16] ashishmahawal commented on #190
hitting same issue
I ma having the exact same issue:
OS: macOS 12.2.1 (M1)
node: 16.14.0
npm: 8.5.3

[2022-03-18 16:27] PaulRBerg commented on #190
Thanks everyone for reporting! Unfortunately I have never ever managed to reproduce this issue, even if I have very similar environments as you guys do.

Some help would be appreciated here. PRs welcome!

[2022-04-04 05:16] lcoln opened #202 "LibreSSL SSL_connect: SSL_ERROR_SYSCALL in connection to github.com:443"
**Bug Description**
when I use yarn create eth-app my-eth-app, it reported an error:

<details>
<summary>Error log</summary>
<br>
"error Command failed.
Exit code: 128
Command: git
Arguments: fetch --tags
Directory: /Users/coln/Library/Caches/Yarn/v6/.tmp/166c4037ddf7608d79e84e263dcd7746
Output:
fatal: 无法访问 'https://github.com/edgeandnode/gluegun.git/'：LibreSSL SSL_connect: SSL_ERROR_SYSCALL in co

[2022-04-04 07:36] PaulRBerg commented on #202
Hi @lcoln, can you share your environment please?

- OS version
- Node.js version
- Yarn version

Plus any other details that you think might be relevant. Thank you!

[2022-04-28 15:03] kokokenada commented on #190
try `touch yarn.lock` as a work around https://github.com/yarnpkg/berry/issues/625

[2022-05-06 12:30] Praiz001 commented on #190
I am having exact same error right now on Windows. Any fix yet ?

[2022-05-22 15:54] refex commented on #116
Is there a solution for this? Just installed the react default template and it throws the same errors on `yarn react-app:start`
I'm on Windows 10 Pro 64bit, node LTS (16.13.0), yarn 1.22.18

[2022-05-22 17:29] PaulRBerg commented on #116
@refex does it work if you `cd` into the `packages/react-app` and then run `yarn start`?

[2022-05-24 13:56] 521qq opened #204 "Could not locate a UI framework named "vue""
**Bug Description**
During installation, when execute `yarn create eth-app my-eth-app --framework vue` command in terminal, it show prompts below:
[code]

[2022-06-24 01:17] Sanbingo opened #207 "yarn create eth-app my-compound-app --template compound has failed"
Error: Couldn't find package "@ethersproject/contracts@^5.6.0" required by "@compound-app/react-app@1.0.0" on the "npm" registry.
    at MessageError.ExtendableBuiltin (/usr/local/lib/node_modules/yarn/lib/cli.js:721:66)
    at new MessageError (/usr/local/lib/node_modules/yarn/lib/cli.js:750:123)
    at PackageRequest.<anonymous> (/usr/local/lib/node_modules/yarn/lib/cli.js:36582:17)
    at Gener

[2022-06-24 08:02] PaulRBerg commented on #207
Hi @Sanbingo! Running `yarn create my-compound-app --template compound` worked for me.

At any rate, it's become increasingly difficult for me to maintain the DeFi templates. I recommend using the default template (so not passing `--template compound`) and manually importing the contracts by following the instructions on [compound.finance/docs](https://compound.finance/docs).

[2022-06-24 08:02] Sanbingo commented on #207
这是来自QQ邮箱的假期自动回复邮件。
 
您好，我最近正在休假中，无法亲自回复您的邮件。我将在假期结束后，尽快给您回复。

[2022-06-24 08:41] PaulRBerg commented on #207
@Sanbingo I'm sorry, but I don't speak Mandarin.

[2022-06-30 11:25] Sanbingo commented on #207
Sorry, This is an automatic email response. I have solved the problem, Thank you anyway！

[2022-06-30 11:25] #207 closed, assigned to nobody

[2022-08-30 09:56] jokereven opened #208 "when i use create-eth-app i meet some problem"
**Bug Description**
A clear and concise description of what the bug is.

**Steps to Reproduce**

1. Go to ...
2. Click on ...

**Expected Behavior**
A clear and concise description of what you expected to happen.

**Additional Context**
Add any other context about the problem here (screenshots, whether the bug only occurs only in certain
mobile/desktop/browser environments, etc.)

Aborting install

[2022-08-30 09:57] jokereven commented on #208
PS D:\Desktop\github.com\jokereven> nvm ls

    16.16.0
    16.14.0
    16.8.0
  * 14.18.0 (Currently using 64-bit executable)
    14.17.5
    14.16.0
PS D:\Desktop\github.com\jokereven> yarn --version
1.22.17
PS D:\Desktop\github.com\jokereven>

[2022-09-03 07:27] PaulRBerg commented on #208
Duplicate of https://github.com/paulrberg/create-eth-app/issues/149.

[2022-09-03 07:27] #208 closed, assigned to nobody

[2022-09-15 06:11] GZ315200 opened #211 "TypeError: stream.destroy is not a function"
**Bug Description**
A clear and concise description of what the bug is.

Aborting installation.
Unexpected error. Please report it as a bug:
TypeError: stream.destroy is not a function
    at /Users/gygeszean/.config/yarn/global/node_modules/create-eth-app/dist/index.js:32416:18
    at Array.forEach (<anonymous>)
    at /Users/gygeszean/.config/yarn/global/node_modules/create-eth-app/dist/index.js

[2022-09-15 10:39] PaulRBerg commented on #211
Duplicate of https://github.com/paulrberg/create-eth-app/issues/149.

[2022-09-15 10:39] #211 closed, assigned to nobody

[2022-10-20 10:39] amitblockchaindev opened #216 "Getting TypeError: stream.destroy is not a function when installing create-eth-app"
I am on Windows 10.
Installed yarn globally, created a folder called createethapp
Opened it in VSCode.
Opened VSCode terminal (powershell) and entered the command

[code]

What do I need to do.

[2022-10-23 10:00] PaulRBerg commented on #216
Hi! Thanks for opening the issue. I'm afraid that this is a known issue: https://github.com/paulrberg/create-eth-app/issues/149.

What version of Node.js are you using?

[2022-10-23 10:00] #216 closed, assigned to nobody